@viewport-wide:   ~"(min-width: 1024px)";
@viewport-medium: ~"(min-width: 768px) and (max-width: 1023px)";
@viewport-narrow: ~"(min-width: 480px) and (max-width: 767px)";
@viewport-tiny:                          ~"(max-width: 479px)";

.sans() {
  font-family: 'PT Sans', sans-serif;
}

.serif() {
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
}

body {
  .sans();

  margin: 0;

  @media print {

  }
}

h1, h2, h3 {
  .serif();
}

.notice {
  background-color: #d64546;
  font-size: 24px;
  padding: 20px;
  text-align: center;
}

  .print-notice {
    display: none;

    @media print {
      display: block;
    }
  }

.contact-info {
  background-color: #ddd; // TODO: pick final color
  position: relative;

  .map {
    border: 0;
    position: absolute;
    right: 0;
    top: 0;

    @media @viewport-wide {
      height: 140px;
      width: 200px;
    }

    @media @viewport-medium,
           @viewport-narrow,
           @viewport-tiny {
      display: none;
    }
  }

  .qrcode {
    border: 0;
    left: 0;
    position: absolute;
    top: 0;

    img {
      height: 100%;
    }

    @media @viewport-wide {
      height: 140px;
      width: 140px;
    }

    @media @viewport-medium,
           @viewport-narrow {
      height: 120px;
      width: 120px;
    }

    @media @viewport-tiny {
      display: none;
    }
  }
}

.h-card {
  @media @viewport-wide {
    height: 100px;
    padding: 15px 20px 25px 160px;
  }

  @media @viewport-medium,
         @viewport-narrow {
    height: 100px;
    padding: 5px 10px 15px 130px;
  }

  @media @viewport-tiny {
    height: 100px;
    padding: 0 5px 10px;
  }

  .u-photo {
    position: absolute;

    @media @viewport-wide {
      border-radius: 50%;
      right: ~"-webkit-calc(50% - 60px)";
      right: ~"calc(50% - 60px)";
      top: 10px;
      width: 120px;
    }

    @media @viewport-medium {
      border-radius: 50%;
      right: ~"-webkit-calc(50% - 50px)";
      right: ~"calc(50% - 50px)";
      top: 10px;
      width: 100px;
    }

    @media @viewport-narrow {
      right: 0;
      top: 0;
      width: 120px;
    }

    @media @viewport-tiny {
      right: 0;
      top: 0;
      width: 110px;
    }
  }

  .p-name,
  .p-job-title {
    .serif();
  }

  .p-name {
    font-size: 26px;
  }

  .p-name,
  .p-job-title,
  .u-impp,
  .u-email,
  .p-tel {
    color: #000;
    display: block;
    text-decoration: none;
    width: 50%;
  }

    .p-additional-name {
      font-size: 0;
      display: inline-block;

      &:first-letter {
        font-size: 26px;
      }

      &:after {
        content: ".";
        font-size: 26px;
      }
    }

  .p-adr {
    position: absolute;
    text-align: right;

    @media @viewport-wide {
      right: 220px;
      top: 20px;
    }

    @media @viewport-medium {
      right: 10px;
      top: 10px;
    }

    @media @viewport-narrow,
           @viewport-tiny {
      display: none;
    }
  }

    .p-nickname,
    .p-country-name {
      display: none;
    }
}

.view-online-please {
  display: none;

  @media print {
    display: block;
  }
}

.view-source-please {
  display: block;

  @media print {
    display: none;
  }
}

.skills {

  dd {
    background-image: url(../img/rating_stars.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 16px;
    width: 94px;
  }

  .ScoreFactory(@n) when (@n > 0) {
    dd[data-score="@{n}"] {
      background-position: 0 @n*-22px;
    }

    .ScoreFactory(@n - 1);
  }

  .ScoreFactory(10);
}
